<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Edit Sensor</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <!-- <% include ../partials/main.ejs %> -->
            <form action="/configuraciones/sensores/update/654" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="name" value="aqui-nombre" /></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td><input type="text" name="price" value="654456654" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>

<!-- <!DOCTYPE html>
<html>

<head>
    <title>Edit Sensor</title>
</head>

<body>
    <div class="container">
        <h3><a href="/configuraciones/sensores">Sensor List</a></h3>
        <h1>Edit Sensor</h1>
        
        <form action="/configuraciones/sensores/update/654" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" value="aqui-nombre" /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" name="price" value="654456654" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html> -->