<main class="bd-content p-5 jumbotron" id="content" role="main">

    <h2 id="custom-components">
        <div>Funcionalidades
            <a class="anchorjs-link " href="#custom-components" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a>
        </div>
    </h2>
    <p>El sistema brinda las siguientes funciones</p>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
            <a href="#">
                <img class="img-thumbnail mb-3" src="\img\notificar eventos.jpg" alt="Album screenshot" width="960" height="600">
                <h5 class="mb-1">Notificar eventos</h5>
            </a>
            <p class="text-muted">Simple one-page template for photo galleries, portfolios, and more.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
            <a href="#">
                <img class="img-thumbnail mb-3" src="\img\programar horarios2.jpg" alt="Pricing screenshot" width="960" height="600">
                <h5 class="mb-1">Programar horarios</h5>
            </a>
            <p class="text-muted">Programar horarios de funcionamiento para ciertas caracteristicas de monitoreo.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
            <a href="#">
                <img class="img-thumbnail mb-3" src="\img\sensores.webp" alt="Checkout screenshot" width="960" height="600">
                <h5 class="mb-1">Gestionar sensores</h5>
            </a>
            <p class="text-muted">Custom checkout form showing our form components and their validation features.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
            <a href="#">
                <img class="img-thumbnail mb-3" src="\img\monitoreoo.jpg" alt="Product screenshot" width="960" height="600">
                <h5 class="mb-1">Monitorear</h5>
            </a>
            <p class="text-muted">Lean product-focused marketing page with extensive grid and image work.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
            <a href="#">
                <img class="img-thumbnail mb-3" src="\img\generar Informes.jpg" alt="Cover screenshot" width="960" height="600">
                <h5 class="mb-1">Generar informes</h5>
            </a>
            <p class="text-muted">A one-page template for building simple and beautiful home pages.</p>
        </div>

</main>