<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1 text-center text-muted">© CopyRight 2019 - Trabajo final de carrera - Licenciatura en Sistemas - Pérez Adrían J. Matías.</p>
    <!-- <p class="mb-1 text-center text-muted">Licenciatura en Sistemas - Pérez Adrían J. Matías. </p> -->
    <ul class="list-inline ">
        <li class="list-inline-item"><a href="#">Licence</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
    </ul>
</footer>