<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Sistema smarthome de monitoreo basado en enlaces zigbee</h2>
        <p class="lead text-muted">El servidor envia notificaciones en tiempo real a los dispositivos moviles vinculados, para advertir 
            a sus usuarios la detecci贸n de eventos peligrosos en el inmueble, esto es, presencia de gas GLP/propano/humo, 
            movimientos de personas/animales y cambios de estado en puertas/ventanas (apertura y cierre).</p>
        <p>
            <!-- <a href="#" class="btn btn-primary my-2">Iniciar sesi贸n</a>
                        <a href="#" class="btn btn-secondary my-2">Crear una nueva instancia de soluci贸n</a> 
                        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>-->
        </p>
        
        <a href="/solucionIoT" type="button" class="btn btn-outline-success btn-lg btn-block">Soluci贸n IoT </a>

    </div>
</section>
<!-- <h1>H.AL.VI.S (Home Alarm Viewer System)</h1>

    <h3>Servidor backend app que brinda la funcionalidad de enviar notificacion push a los smartphone cuando suceden eventos de riesgo en su hogar</h3>
    <h3>Los eventos de riesgo son: Movimientos, aperturas de puerta/ventanas, gas peligrosos</h3>
    <h5>Las tres funciones principales son:
        <ul>
            <li>Notificar a los usuarios por medio de sus smartphone, cada vez que se detecte algun evento de riesgo en el hogar</li>
            <li>Gestionar la solucion IoT (crear una nueva instancia de la solucion, y esto incluye dar de alta a los sensores, nodos Zigbee, etc</li>
            <li>Programar que dias y horarios debe funcionar ciertas caracteristicas del sistema de alarma</li>

        </ul>
    </h5> -->