<div class="jumbotron">
    <h1>H.AL.VI.S (Home Alarm Viewer System)</h1>

    <h3>Servidor backend app que brinda envia notificacion a su smartphone con eventos que ayudan a proteger su hogar</h3>
    <h5>Sus funcines principales son tres:
        <ul>
            <li>gestionar sensores</li>
            <li>notificar a los usuarios sobre eventos de riesgo en el hogar</li>
            <li>Programas los dias y horarios de funcionamiento</li>

        </ul>
    </h5>
</div>