<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Smarthome monioreo de alarma </h1>

        <p class="lead text-muted">El sistema smarthome de monitoreo esta basado en enlaces Zigbee y permite enviar notificaciones en tiempo real a dispositivos moviles cuando se activa la alarma por causas detectan eventos de peligro como: fuga de gas, incendio, aperturas de puertas/ventanas
            y movimientos.

        </p>
        <p>
            <!-- <a href="#" class="btn btn-primary my-2">Iniciar sesi贸n</a>
                        <a href="#" class="btn btn-secondary my-2">Crear una nueva instancia de soluci贸n</a> 
                        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>-->
        </p>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Iniciar sesi贸n</button>
        <a href="/solucionIoT" type="button" class="btn btn-outline-success btn-lg btn-block">Soluci贸n IoT </a>

    </div>
</section>
<!-- <h1>H.AL.VI.S (Home Alarm Viewer System)</h1>

    <h3>Servidor backend app que brinda la funcionalidad de enviar notificacion push a los smartphone cuando suceden eventos de riesgo en su hogar</h3>
    <h3>Los eventos de riesgo son: Movimientos, aperturas de puerta/ventanas, gas peligrosos</h3>
    <h5>Las tres funciones principales son:
        <ul>
            <li>Notificar a los usuarios por medio de sus smartphone, cada vez que se detecte algun evento de riesgo en el hogar</li>
            <li>Gestionar la solucion IoT (crear una nueva instancia de la solucion, y esto incluye dar de alta a los sensores, nodos Zigbee, etc</li>
            <li>Programar que dias y horarios debe funcionar ciertas caracteristicas del sistema de alarma</li>

        </ul>
    </h5> -->