<div class="py-3 text-center jumbotron">
    <img class="d-block mx-auto mb-4" src="https://miro.medium.com/max/1313/0*fXKAw7b1Wf1rTa65" alt="" width="200" height="200">
    <h2>Registrar sistema de alarma</h2>
    <p class="lead">Complete los datos requeridos para crear el sistema de alarma en su hogar</p>
</div>