<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Crear Solucion</title>
</head>

<body style="background-color:rgba(169, 168, 255, 0.534)">

    <div class="container">

        <% include ../partials/header.ejs %>
            <% include ../partials/rootInstance/headerCreate.ejs %>
                <% include ../partials/rootInstance/formCreate.ejs %>
                    <br>
                    <% include ../partials/componentes.ejs %>




                        <% include ../partials/footer.ejs %>

    </div>

    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>