<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Crear Solucion</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>

            <h3><a href="/solucionIoT/rootInstance">Solution IoT List</a></h3>
            <h1>Create new Solution IoT</h1>
            <form action="/solucionIoT/rootInstance/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>idHome</td>
                            <td><input type="text" name="idHome" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Save" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>