<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Edit Solution IoT</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>

            <form action="/solucionIoT/rootInstance/update/<%= idRegistro %>" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                ID de la Solucion IoT:
                            </td>
                            <td><input type="text" name="idSolution" value="<%= idRegistro %>" disabled/></td>
                        </tr>
                        <tr>
                            <td>
                                <%= Object.keys(registro)[0] %>
                            </td>
                            <td><input type="text" name="idHome" value="<%= Object.values(registro)[0] %>" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>