<div class="py-3 text-center jumbotron">
    <h2>Registrar solucion IoT</h2>
    <img class="d-block mx-auto mb-4" src="https://miro.medium.com/max/1313/0*fXKAw7b1Wf1rTa65" alt="" width="200" height="200">
    <h5>Complete los datos requeridos para proteger su hogar</h3>
    
</div>