<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>About</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron">
                        <h1>Acerca de HALVIS</h1>
                        <p>Bienvenido a mi trabajo final de carrera</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="well">
                        <h3>Navegar por las caracteristicas</h3>
                    </div>
                </div>

            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>