<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Configuraciones</title>
</head>

<body>
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <div class="jumbotron">
                <h1>Configuracion del administrador</h1>
                <p>Aqui puedo dar de alta a los sensores.</p>
                <p>Agregar: Modelo y fabricante, estado: encendido/apagado, notificacion:activado/desactivado, voltaje, amperes, fecha de compra, etc</p>
                <a class="badge badge-primary" href="/configuraciones/sensores/create">Click aqui para crear sensor</a>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>