<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Home</title>
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header class="container">

    <main>
        <% include ../partials/main.ejs %>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>