<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Home</title>
</head>

<body style="background-color:rgba(169, 168, 255, 0.534)">
    <div class="container">
        <header>
            <% include ../partials/headerIndexTemp.ejs %>
        </header class="container">

        <main>
            <% include ../partials/main.ejs %>

                <% include ../partials/componentes.ejs %>

        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>