<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
        <title>Instancia de la solución IoT</title>
</head>

<body style="background-color:rgba(169, 168, 255, 0.534)">
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">

        <main>
            <div class="jumbotron">

                <h1 class="display-4 font-weight-bold">Solución IoT</h1>

                <p class="lead my-3">Una solucion IoT contiene la declaracion de dispositivos utilizados para monitorear el hogar, por ejemplo los tipos de sensores, nodos zigbee, adaptador USB-Serial, etc. </p>
                <p class="lead my-3">Para crear una solución IoT que ayude a proteger su hogar complete los pasos indicados. </p>

                <a href="/solucionIoT/rootInstance/create" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Crear instancia raiz</a>
                <br><br>
                <a href="solucionIoT/sensores/create" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Crear Sensor</a>

            </div>
        </main>

        <% include ../partials/componentes.ejs %>

            <% include ../partials/footer.ejs %>

    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>