<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <title>Instancia de la soluci贸n IoT</title>
</head>

<body style="background-color:rgba(169, 168, 255, 0.534)">
    <div class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header class="container">
        <main>
            <div class="jumbotron">
                <h1 class="display-4 font-weight-bold">Soluci贸n IoT</h1>
                <p class="lead my-3">Para crear una solucion IoT que permita monitorear y proteger su hogar debe
                    completar los siguientes formularios: </p>
                <br>
                <a href="/solucionIoT/rootInstance/create" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Crear Soluci贸n IoT </a>
                <a href="/solucionIoT/rootInstance" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Listar las Soluci贸nes IoT </a>
                <br><br>
                <a href="/solucionIoT/nodoZigbee/create" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Crear nodo Zigbee </a>
                <a href="/solucionIoT/nodoZigbee" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Listar los nodos Zigbee </a>
                <br><br>
                <a href="solucionIoT/sensores/create" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Crear Sensor</a>
                <a href="solucionIoT/sensores" class="btn btn-success" tabindex="-1" role="button"
                    aria-disabled="true">Listar los sensores</a>
            </div>
        </main>

        <% include ../partials/componentes.ejs %>
        <% include ../partials/footer.ejs %>

    </div>
    <script src="/libs-style/jquery.js"></script>
    <script src="/libs-style/popper.js"></script>
    <script src="/libs-style/bootstrap.js"></script>
</body>

</html>